"""
This is a sample secrets.py file for this project.

This file is where you keep secret settings, passwords, and tokens!
If you put them in the code you risk committing that info or sharing it.

Fill in the values with your own settings, rename the file to
secrets.py, but don't commit it to GitHub to share it with others.

Recommendation: Add secrets.py to your global .gitignore.
"""

secrets = {
    'ssid' : '<YOUR SSID>',
    'password' : '<YOUR NETWORK PASSWORD>',
    'aio_username' : '<YOUR AIO USERNAME>',
    'aio_key' : '<YOUR AIO KEY>',
}